//
//  DevConfig.xcconfig
//  CatApp_Alamofire
//
//  Created by 유지완 on 8/2/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// API Key config
CAT_API_KEY=live_xLST3RHbCI8ZlLXfi7PG8uwm9GjmFsiqiAz4yrtWVGtCXeB7wZELTOZEAfnfF3Jf

// End Point config
API_ENDPOINT=https://api.thecatapi.com/
